:root {
    /* Base */
    --white: #fff;
    --black: #000;
    
    /* Theme */
    --theme: #000000;
    --theme-rgb: 0, 0, 0;
    --theme-darker: #000000;
    --theme-contrast: #111;
    
    /* Theme alt */
    --theme-alt: #87CCBA;
    --theme-alt-darker: #3D8F7B;
    --theme-alt-contrast: #fff;
    
    /* Dark */
    --heading-dark: #000000;
    --text-dark: #000000;
    --background-dark: #000000;
    --background-dark-lighter: #060606;
    --border-dark: rgba(0, 0, 0, 0.08);
    
    /* Light */
    --heading-light: #000000;
    --text-light: #000000;
    --background-light: #FFFFFF;
    --border-light: rgba(255, 255, 255, 0.1);
    
    /* Header */
    --selected-nav-item: #48BA74;
    --header-height: 70px;
    --logo-padding: 24px;
    --navigation-padding: 30px;
    --pre-top-height: 30px;
    --top-combo-calc: calc(var(--header-height) + var(--pre-top-height));
    
    /* Grid */
    --grid-width-small: 850px;
    --grid-width: 1300px;
    --grid-width-big: 1600px;
    --grid-gutter: 30px;
    --grid-gutter-half: calc(var(--grid-gutter) / 2);
    
    /* Buttons */
    --button-border-radius: 5px;
    
    /* Typography */
    --body-font: Roboto, sans-serif;
    --heading-font: Roboto, sans-serif;
    --font-size: 1.1rem;
    --font-size-big: 1.25rem;
    
    --font-weight-normal: normal;
    --font-weight-light: 300;
    --font-weight-bold: bold;
    --font-weight-bolder: bolder;
    
    --body-font-weight: var(--font-weight-normal);
    --heading-font-weight: var(--font-weight-bold);
    
    /* Validation */
    --success: #2ecc71;
    --error: #e74c3c;
}
@media only screen and (max-width: 1200px) {
  :root {
    --navigation-padding: 15px;
  }
}
@media only screen and (max-width: 992px) {
  :root {
    --header-height: px;
    --grid-gutter: 20px;
    --logo-padding: 16px;
  }
}
@media only screen and (max-width: 768px) {
  :root {
    --grid-gutter: 15px;
  }
}
@media only screen and (max-width: 480px) {
  :root {
    --grid-gutter: 15px;
  }
}

