@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.FooterContact>
@using ContentModels = Umbraco.Web.PublishedModels;

<div class="footer-item footer-item--contact text-@(Model.AlignContent)">

    @if (Model.Heading != "")
    {
        <h2 class="h6">@Model.Heading</h2>
    }
    <address>
        <ul class="contact-list">
            @if (Model.Address != "")
            {
                <li>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    @Html.Raw(Model.Address.Replace("\n", "<br/>"))
                </li>
            }
            @if (Model.Phone != "")
            {
                <li>
                    <a href="tel:@(Model.Phone)"><i class="fa fa-phone" aria-hidden="true"></i> @(Model.Phone)</a>
                </li>
            }
            @if (Model.Email != "")
            {
                <li>
                    <a href="mailto:@(Model.Email)"><i class="fa fa-envelope" aria-hidden="true"></i> @(Model.Email)</a>
                </li>
            }
        </ul>
    </address>

</div>